<div class="container p-3">
    <h1>My Interpretation Jobs</h1>

    <div class="cards pb-4">
        <%= render partial: 'card', collection: @bookings, as: :booking %>
    </div>

    <button class="btn btn-flat" type="submit" style="color: white> 

<% @bookings.each do |booking| %>
<p> User: <%= booking.user_id %></p>
<p> Job: <%= booking.job_id %></p>
<p> Status: <%= booking.status %></p>
<% if booking.status == 'pending' %>
<%= button_to 'Accept', interpreter_bookings_path(booking, booking: { status: 'accepted'}), method: :put %>
<%= button_to 'Reject', interpreter_bookings_path(booking, booking: { status: 'canceled'}), method: :put %>
<% end %>

<% end %>

<%= link_to "Apply for Another Interpretation Job", new_job_path %>
