<h2>Details of the Job</h2>

<div class="card-trip">
  <img src="https://www.cityofpasadena.net/wp-content/uploads/Pasadena-City-Hall-Front-1.jpg" width="400" height="300"/>
  <div class="card-trip-infos">
    <div>
      <p>Category: <%= @job.job_category%></p>
      <p>Description: <%= @job.description%></p>
      <p>Date: <%= @job.date%></p>
      <p>Address: <%= @job.address %></p>
      <p>Price: <%= @job.price %>Yen</p>
      <p>Urgency: <%= @job.urgency %> (Min1 - Max5)</p>
    </div>
<%= link_to "Add Booking?", new_job_path, class: "btn btn-outline-primary"%>
<%= link_to "Home", root_path, class: "btn btn-flat" %>
<%= link_to "Search Interpreter", bookings_path, class: "btn btn-flat" %>
  </div>
</div>
