<div class="card-trip">
  <%= image_tag(image_for_category(booking.job.job_category), alt: booking.job.job_category) %>
  <div class="card-trip-infos">
    <div>
      <h2> <%= booking.job.job_category %> </h2>
      <h2> <%= booking.job.description %> </h2>
      <i><%= booking.status %></i>
       <div class="card-trip-user <%= urgency_class(booking.job.urgency) %>">
        <%= booking.job.urgency_description %>
      </div>
    </div>
    <h2 class="card-trip-pricing">¥<%= number_with_delimiter(booking.job.price) %></h2>
  </div> 

     <div class="d-flex m-4 justify-content-between">
     <% if booking.status == 'pending' %>
    <%= button_to 'Accept', booking_path(booking, booking: { status: 'accepted'}), method: :put, class: "btn btn-success" %>
    <%= button_to 'Reject', booking_path(booking, booking: { status: 'canceled'}), method: :put, class: "btn btn-danger" %>
    <% end %>
    </div>
</div>

